// app global css

table.q-table.cell-separator
  border: 1px solid rgba(0,0,0,0.12)

table.q-table.cell-separator th,
table.q-table.cell-separator td
  border-bottom: 1px solid rgba(0,0,0,0.12)

table.q-table.cell-separator th,
table.q-table.cell-separator td
  border-left: 1px solid rgba(0,0,0,0.12)

table.q-table.cell-separator th:last-child,
table.q-table.cell-separator td:last-child
  border-right: 1px solid rgba(0,0,0,0.12)
